<section>
    <img src="http://localhost:3000/images/image.png" alt="모두의 호텔리어 CI" width="20%" />
    <h1><a href="/" title="모두의 호텔리어">모두의 호텔리어</a></h1>
    <button type="button" class="btn_menu nav_open">메뉴</button>
    <button type="button" class="btn_srch srch_open">검색</button>
    <ul class="gnb_pc">
        <li><a href="http://localhost:3000/product/srp">내주변</a></li>
        <li><a href="http://localhost:3000/user/login?returnUrl=my%2FreserveList">예약내역</a></li>
        <li><a href="http://localhost:3000/more">더보기</a></li>
        <li class="over">
            <!-- <button type="button"><span>더보기</span></button> -->
            <ul class="list_03">
                <li><a href="http://localhost:3000/more/notice">공지사항</a></li>
                <li><a href="http://localhost:3000/more/event">이벤트</a></li>
                <li><a href="http://localhost:3000/more/project">프로젝트</a></li>
                <li><a href="http://localhost:3000/more/faq">자주 묻는 질문</a></li>
                <li><a href="http://localhost:3000/more/inquiry">1:1 문의</a></li>
                <li><a href="http://localhost:3000/more/terms">약관 및 정책</a></li>
            </ul>
        </li>
        <% if(session.email){ %>
        <li class="over pic"><a href="http://localhost:3000/my/mypage"><img
                    src="http://localhost:3000/profile/ico/ico_15.png" alt="" /></a>
            <ul class="list_04" style="display:none">
                <li><b>회원</b></li>
                <li><a href="http://localhost:3000/my/mypage">내정보</a></li>
                <li><a href="http://localhost:3000/my/point" data-point="0">포인트
                        <!-- span>0P</span --></a></li>
                <li><a href="http://localhost:3000/my/coupon">쿠폰함
                        <!-- span>0장</span --></a></li>
                <li><a href="http://localhost:3000/my/reserveList">예약내역
                        <!-- span>0건</span --></a></li>
                <li><a href="http://localhost:3000/my/recentrooms">최근 본 숙소
                        <!-- span>0개</span --></a></li>
                <li><button type="button" class="pop_logout_open">로그아웃</button></li>
            </ul>
        </li>
        <form action="/user/logout" method="get">
            <input type="submit" value="로그아웃">
        </form>
        <% } else{ %>
        <li><a href="http://localhost:3000/user/login"><span>로그인</span></a></li>
        <% } %>
    </ul>

    <!-- Search -->
    <div class="srch_bar">
        <div class="wrap_inp">
            <input type="text" id="keyword" placeholder="지역, 숙소명" autocomplete="off" />
            <button type="button" class="btn_srch">검색</button>
        </div>
        <button class="btn_cancel" onclick="srch_close()">취소</button>
    </div>
    <!-- //Search -->
</section>