<section>
    <img src="images/image.png" alt="모두의 호텔리어 CI" width="20%" />
    <h1><a href="/" title="모두의 호텔리어">모두의 호텔리어</a></h1>
    <button type="button" class="btn_menu nav_open">메뉴</button>
    <button type="button" class="btn_srch srch_open">검색</button>
    <ul class="gnb_pc">
        <li><a href="http://localhost:3000/product/srp">내주변</a></li>
        <li><a href="http://localhost:3000/user/login?returnUrl=my%2FreserveList">예약내역</a></li>
        <li class="over">
            <button type="button"><span>더보기</span></button>
            <ul class="list_03">
                <li><a href="http://localhost:3000/more/notice">공지사항</a></li>
                <li><a href="http://localhost:3000/more/event">이벤트</a></li>
                <li><a href="http://localhost:3000/more/project">프로젝트</a></li>
                <li><a href="http://localhost:3000/more/faq">자주 묻는 질문</a></li>
                <li><a href="http://localhost:3000/more/inquiry">1:1 문의</a></li>
                <li><a href="http://localhost:3000/more/terms">약관 및 정책</a></li>
            </ul>
        </li>
        <li><a href="http://localhost:3000/user/login"><span>로그인</span></a></li>
    </ul>

    <!-- Search -->
    <div class="srch_bar">
        <div class="wrap_inp">
            <input type="text" id="keyword" placeholder="지역, 숙소명" autocomplete="off" />
            <button type="button" class="btn_srch">검색</button>
        </div>
        <button class="btn_cancel" onclick="srch_close()">취소</button>
    </div>
    <!-- //Search -->
</section>