<!DOCTYPE html>
<html>

<head>
    <% include ./viewmodules/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
</head>

<body>

    <!-- Wrap -->
    <div class="wrap">

        

        <footer>
            <% include ./viewmodules/footer.ejs %>
          </footer>
    </div>
</body>

</html>